In [1]:
# import modules needed
import pandas as pd

Clean data from the core metrics file

In [2]:
# read the historical core metrics csv
c_df = pd.read_csv("../CSV Files/RDC_Inventory_Core_Metrics_Zip_History.csv")
c_df.head()

C:\Users\jeffj\AppData\Local\Temp\ipykernel_38324\3306128208.py:2: DtypeWarning: Columns (0,1) have mixed types. Specify dtype option on import or set low_memory=False.
  c_df = pd.read_csv("../CSV Files/RDC_Inventory_Core_Metrics_Zip_History.csv")

,month_date_yyyymm,postal_code,zip_name,median_listing_price,median_listing_price_mm,median_listing_price_yy,active_listing_count,active_listing_count_mm,active_listing_count_yy,median_days_on_market,...,average_listing_price,average_listing_price_mm,average_listing_price_yy,total_listing_count,total_listing_count_mm,total_listing_count_yy,pending_ratio,pending_ratio_mm,pending_ratio_yy,quality_flag
0,202309,55127,"saint paul, mn",635000.0,-0.0483,-0.0344,53.0,0.1158,0.5143,39.0,...,812323.0,-0.0398,0.0555,106.0,0.0872,0.3250,0.9434,-0.1092,-0.3423,0.0
1,202309,18354,"sciota, pa",399999.0,0.0000,0.3560,2.0,-0.3333,-0.5000,195.0,...,399999.0,0.0000,0.1676,3.0,-0.4000,-0.5000,1.0000,-0.1667,0.6250,1.0
2,202309,35593,"vina, al",275000.0,0.1305,0.7416,1.0,0.0000,-0.8000,47.0,...,275000.0,0.1305,0.4634,2.0,0.0000,-0.6667,1.0000,0.0000,0.8000,1.0
3,202309,85295,"gilbert, az",625000.0,-0.0056,0.0994,72.0,0.0746,-0.5944,32.0,...,700696.0,-0.0196,0.1102,112.0,-0.0968,-0.5634,0.5694,-0.1917,0.1216,0.0
4,202309,94970,"stinson beach, ca",7495000.0,0.0000,-0.2004,2.0,0.0000,0.0000,57.0,...,10628333.0,0.4181,0.0465,2.0,-0.6000,-0.4286,0.5000,-1.0000,-0.2500,1.0

In [3]:
# row count core metrics
c_row_count = c_df.shape[0]
c_row_count

2465723

In [4]:
# data types for core metrics
c_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2465723 entries, 0 to 2465722
Data columns (total 40 columns):
 #   Column                                   Dtype
---  ------                                   -----
 0   month_date_yyyymm                        object
 1   postal_code                              object
 2   zip_name                                 object
 3   median_listing_price                     float64
 4   median_listing_price_mm                  float64
 5   median_listing_price_yy                  float64
 6   active_listing_count                     float64
 7   active_listing_count_mm                  float64
 8   active_listing_count_yy                  float64
 9   median_days_on_market                    float64
 10  median_days_on_market_mm                 float64
 11  median_days_on_market_yy                 float64
 12  new_listing_count                        float64
 13  new_listing_count_mm                     float64
 14  new_listing_count_yy                     float64
 15  price_increased_count                    float64
 16  price_increased_count_mm                 float64
 17  price_increased_count_yy                 float64
 18  price_reduced_count                      float64
 19  price_reduced_count_mm                   float64
 20  price_reduced_count_yy                   float64
 21  pending_listing_count                    float64
 22  pending_listing_count_mm                 float64
 23  pending_listing_count_yy                 float64
 24  median_listing_price_per_square_foot     float64
 25  median_listing_price_per_square_foot_mm  float64
 26  median_listing_price_per_square_foot_yy  float64
 27  median_square_feet                       float64
 28  median_square_feet_mm                    float64
 29  median_square_feet_yy                    float64
 30  average_listing_price                    float64
 31  average_listing_price_mm                 float64
 32  average_listing_price_yy                 float64
 33  total_listing_count                      float64
 34  total_listing_count_mm                   float64
 35  total_listing_count_yy                   float64
 36  pending_ratio                            float64
 37  pending_ratio_mm                         float64
 38  pending_ratio_yy                         float64
 39  quality_flag                             float64
dtypes: float64(37), object(3)
memory usage: 752.5+ MB

In [5]:
# find the row values with non matching value types
non_date_values = c_df[~c_df['month_date_yyyymm'].astype(str).str.match(r'^\d{6}$')]
print(non_date_values['month_date_yyyymm'].unique())

['quality_flag = 1:  year-over-year figures may be impacted']

In [6]:
# Filter out the problematic row
c_df = c_df[c_df['month_date_yyyymm'] != 'quality_flag = 1:  year-over-year figures may be impacted']

# Convert "month_date_yyyymm" to a datetime format
c_df['month_date_yyyymm'] = pd.to_datetime(c_df['month_date_yyyymm'], format='%Y%m')

# Reformat the datetime column to the desired string format
c_df['month_date_yyyymm'] = c_df['month_date_yyyymm'].dt.strftime('%Y-%m')

c_df.head()

,month_date_yyyymm,postal_code,zip_name,median_listing_price,median_listing_price_mm,median_listing_price_yy,active_listing_count,active_listing_count_mm,active_listing_count_yy,median_days_on_market,...,average_listing_price,average_listing_price_mm,average_listing_price_yy,total_listing_count,total_listing_count_mm,total_listing_count_yy,pending_ratio,pending_ratio_mm,pending_ratio_yy,quality_flag
0,2023-09,55127,"saint paul, mn",635000.0,-0.0483,-0.0344,53.0,0.1158,0.5143,39.0,...,812323.0,-0.0398,0.0555,106.0,0.0872,0.3250,0.9434,-0.1092,-0.3423,0.0
1,2023-09,18354,"sciota, pa",399999.0,0.0000,0.3560,2.0,-0.3333,-0.5000,195.0,...,399999.0,0.0000,0.1676,3.0,-0.4000,-0.5000,1.0000,-0.1667,0.6250,1.0
2,2023-09,35593,"vina, al",275000.0,0.1305,0.7416,1.0,0.0000,-0.8000,47.0,...,275000.0,0.1305,0.4634,2.0,0.0000,-0.6667,1.0000,0.0000,0.8000,1.0
3,2023-09,85295,"gilbert, az",625000.0,-0.0056,0.0994,72.0,0.0746,-0.5944,32.0,...,700696.0,-0.0196,0.1102,112.0,-0.0968,-0.5634,0.5694,-0.1917,0.1216,0.0
4,2023-09,94970,"stinson beach, ca",7495000.0,0.0000,-0.2004,2.0,0.0000,0.0000,57.0,...,10628333.0,0.4181,0.0465,2.0,-0.6000,-0.4286,0.5000,-1.0000,-0.2500,1.0

In [7]:
# split the zip_name column into city and state columns
c_df[['city_name', 'state']] = c_df['zip_name'].str.split(', ', expand=True)
c_df = c_df.drop(columns=['zip_name'])
c_df.head()

,month_date_yyyymm,postal_code,median_listing_price,median_listing_price_mm,median_listing_price_yy,active_listing_count,active_listing_count_mm,active_listing_count_yy,median_days_on_market,median_days_on_market_mm,...,average_listing_price_yy,total_listing_count,total_listing_count_mm,total_listing_count_yy,pending_ratio,pending_ratio_mm,pending_ratio_yy,quality_flag,city_name,state
0,2023-09,55127,635000.0,-0.0483,-0.0344,53.0,0.1158,0.5143,39.0,-0.0314,...,0.0555,106.0,0.0872,0.3250,0.9434,-0.1092,-0.3423,0.0,saint paul,mn
1,2023-09,18354,399999.0,0.0000,0.3560,2.0,-0.3333,-0.5000,195.0,0.1035,...,0.1676,3.0,-0.4000,-0.5000,1.0000,-0.1667,0.6250,1.0,sciota,pa
2,2023-09,35593,275000.0,0.1305,0.7416,1.0,0.0000,-0.8000,47.0,0.7091,...,0.4634,2.0,0.0000,-0.6667,1.0000,0.0000,0.8000,1.0,vina,al
3,2023-09,85295,625000.0,-0.0056,0.0994,72.0,0.0746,-0.5944,32.0,-0.1049,...,0.1102,112.0,-0.0968,-0.5634,0.5694,-0.1917,0.1216,0.0,gilbert,az
4,2023-09,94970,7495000.0,0.0000,-0.2004,2.0,0.0000,0.0000,57.0,-0.3631,...,0.0465,2.0,-0.6000,-0.4286,0.5000,-1.0000,-0.2500,1.0,stinson beach,ca

In [8]:
# Get the current column order
cols = c_df.columns.tolist()

# Reorder columns to place "state" and then "city_name" after "postal_code"
cols.remove('state')
cols.remove('city_name')
new_order = cols[:2] + ['state', 'city_name'] + cols[2:]

c_df = c_df[new_order]

In [9]:
# convert the state column values to upper case
c_df['state'] = c_df['state'].str.upper()

In [10]:
c_df = c_df.dropna(subset=['state'])

In [11]:
c_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2395931 entries, 0 to 2465721
Data columns (total 41 columns):
 #   Column                                   Dtype
---  ------                                   -----
 0   month_date_yyyymm                        object
 1   postal_code                              object
 2   state                                    object
 3   city_name                                object
 4   median_listing_price                     float64
 5   median_listing_price_mm                  float64
 6   median_listing_price_yy                  float64
 7   active_listing_count                     float64
 8   active_listing_count_mm                  float64
 9   active_listing_count_yy                  float64
 10  median_days_on_market                    float64
 11  median_days_on_market_mm                 float64
 12  median_days_on_market_yy                 float64
 13  new_listing_count                        float64
 14  new_listing_count_mm                     float64
 15  new_listing_count_yy                     float64
 16  price_increased_count                    float64
 17  price_increased_count_mm                 float64
 18  price_increased_count_yy                 float64
 19  price_reduced_count                      float64
 20  price_reduced_count_mm                   float64
 21  price_reduced_count_yy                   float64
 22  pending_listing_count                    float64
 23  pending_listing_count_mm                 float64
 24  pending_listing_count_yy                 float64
 25  median_listing_price_per_square_foot     float64
 26  median_listing_price_per_square_foot_mm  float64
 27  median_listing_price_per_square_foot_yy  float64
 28  median_square_feet                       float64
 29  median_square_feet_mm                    float64
 30  median_square_feet_yy                    float64
 31  average_listing_price                    float64
 32  average_listing_price_mm                 float64
 33  average_listing_price_yy                 float64
 34  total_listing_count                      float64
 35  total_listing_count_mm                   float64
 36  total_listing_count_yy                   float64
 37  pending_ratio                            float64
 38  pending_ratio_mm                         float64
 39  pending_ratio_yy                         float64
 40  quality_flag                             float64
dtypes: float64(37), object(4)
memory usage: 767.7+ MB

Clean data from the hotness metrics file

In [12]:
# read the hotness metrics csv
h_df = pd.read_csv("../CSV Files/RDC_Inventory_Hotness_Metrics_Zip_History.csv")
h_df.head()

C:\Users\jeffj\AppData\Local\Temp\ipykernel_38324\285183456.py:2: DtypeWarning: Columns (0,1) have mixed types. Specify dtype option on import or set low_memory=False.
  h_df = pd.read_csv("../CSV Files/RDC_Inventory_Hotness_Metrics_Zip_History.csv")

,month_date_yyyymm,postal_code,zip_name,nielsen_hh_rank,hotness_rank,hotness_rank_mm,hotness_rank_yy,hotness_score,supply_score,demand_score,...,median_dom_yy_day,median_dom_vs_us,ldp_unique_viewers_per_property_mm,ldp_unique_viewers_per_property_yy,ldp_unique_viewers_per_property_vs_us,median_listing_price,median_listing_price_mm,median_listing_price_yy,median_listing_price_vs_us,quality_flag
0,202309,14450,"fairport, ny",998.0,1.0,-5.0,0.0,99.978698,99.974438,99.982958,...,-5.00,-41.0,0.100652,-0.123400,4.949911,369000.0,-0.065586,0.126976,0.859139,0.0
1,202309,4106,"south portland, me",3627.0,2.0,-2.0,NaN,99.923313,99.906271,99.940354,...,-4.75,-39.0,-0.063090,-0.011696,4.677433,580000.0,-0.004292,0.341040,1.350407,0.0
2,202309,14624,"rochester, ny",1837.0,3.0,-4.0,1.0,99.919052,99.965917,99.872188,...,1.50,-40.0,0.022460,-0.013447,4.311374,214900.0,0.075038,0.132991,0.500349,0.0
3,202309,6111,"newington, ct",3095.0,4.0,-1064.0,-15.0,99.897751,99.838105,99.957396,...,-9.00,-38.0,0.414016,-0.002990,4.794335,294950.0,-0.051608,-0.028651,0.686729,0.0
4,202309,1970,"salem, ma",884.0,5.0,-7.0,-5.0,99.893490,99.889230,99.897751,...,-5.00,-38.5,0.122447,0.133164,4.435820,521950.0,0.105416,0.021079,1.215250,0.0

In [13]:
# row count for hotness metrics
h_row_count = h_df.shape[0]
h_row_count

929263

In [14]:
# data types for hotness metrics
h_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 929263 entries, 0 to 929262
Data columns (total 24 columns):
 #   Column                                 Non-Null Count   Dtype
---  ------                                 --------------   -----
 0   month_date_yyyymm                      929263 non-null  object
 1   postal_code                            929263 non-null  object
 2   zip_name                               926158 non-null  object
 3   nielsen_hh_rank                        926158 non-null  float64
 4   hotness_rank                           929262 non-null  float64
 5   hotness_rank_mm                        879706 non-null  float64
 6   hotness_rank_yy                        690045 non-null  float64
 7   hotness_score                          929262 non-null  float64
 8   supply_score                           929262 non-null  float64
 9   demand_score                           929262 non-null  float64
 10  median_days_on_market                  929261 non-null  float64
 11  median_days_on_market_mm               929255 non-null  float64
 12  median_dom_mm_day                      929255 non-null  float64
 13  median_days_on_market_yy               929158 non-null  float64
 14  median_dom_yy_day                      929158 non-null  float64
 15  median_dom_vs_us                       929261 non-null  float64
 16  ldp_unique_viewers_per_property_mm     913177 non-null  float64
 17  ldp_unique_viewers_per_property_yy     746163 non-null  float64
 18  ldp_unique_viewers_per_property_vs_us  929262 non-null  float64
 19  median_listing_price                   929262 non-null  float64
 20  median_listing_price_mm                929257 non-null  float64
 21  median_listing_price_yy                929176 non-null  float64
 22  median_listing_price_vs_us             929262 non-null  float64
 23  quality_flag                           929262 non-null  float64
dtypes: float64(21), object(3)
memory usage: 170.2+ MB

In [15]:
# find the row values with non matching value types
non_date_values = h_df[~h_df['month_date_yyyymm'].astype(str).str.match(r'^\d{6}$')]
print(non_date_values['month_date_yyyymm'].unique())

['quality_flag = 1:  year-over-year figures may be impacted']

In [16]:
# Filter out the problematic row
h_df = h_df[h_df['month_date_yyyymm'] != 'quality_flag = 1:  year-over-year figures may be impacted']

# Convert "month_date_yyyymm" to a datetime format
h_df['month_date_yyyymm'] = pd.to_datetime(h_df['month_date_yyyymm'], format='%Y%m')

# Reformat the datetime column to the desired string format
h_df['month_date_yyyymm'] = h_df['month_date_yyyymm'].dt.strftime('%Y-%m')

h_df.head()

,month_date_yyyymm,postal_code,zip_name,nielsen_hh_rank,hotness_rank,hotness_rank_mm,hotness_rank_yy,hotness_score,supply_score,demand_score,...,median_dom_yy_day,median_dom_vs_us,ldp_unique_viewers_per_property_mm,ldp_unique_viewers_per_property_yy,ldp_unique_viewers_per_property_vs_us,median_listing_price,median_listing_price_mm,median_listing_price_yy,median_listing_price_vs_us,quality_flag
0,2023-09,14450,"fairport, ny",998.0,1.0,-5.0,0.0,99.978698,99.974438,99.982958,...,-5.00,-41.0,0.100652,-0.123400,4.949911,369000.0,-0.065586,0.126976,0.859139,0.0
1,2023-09,4106,"south portland, me",3627.0,2.0,-2.0,NaN,99.923313,99.906271,99.940354,...,-4.75,-39.0,-0.063090,-0.011696,4.677433,580000.0,-0.004292,0.341040,1.350407,0.0
2,2023-09,14624,"rochester, ny",1837.0,3.0,-4.0,1.0,99.919052,99.965917,99.872188,...,1.50,-40.0,0.022460,-0.013447,4.311374,214900.0,0.075038,0.132991,0.500349,0.0
3,2023-09,6111,"newington, ct",3095.0,4.0,-1064.0,-15.0,99.897751,99.838105,99.957396,...,-9.00,-38.0,0.414016,-0.002990,4.794335,294950.0,-0.051608,-0.028651,0.686729,0.0
4,2023-09,1970,"salem, ma",884.0,5.0,-7.0,-5.0,99.893490,99.889230,99.897751,...,-5.00,-38.5,0.122447,0.133164,4.435820,521950.0,0.105416,0.021079,1.215250,0.0

In [17]:
# split the zip_name column into city and state columns
h_df[['city_name', 'state']] = h_df['zip_name'].str.split(', ', expand=True)
h_df = h_df.drop(columns=['zip_name'])
h_df.head()

,month_date_yyyymm,postal_code,nielsen_hh_rank,hotness_rank,hotness_rank_mm,hotness_rank_yy,hotness_score,supply_score,demand_score,median_days_on_market,...,ldp_unique_viewers_per_property_mm,ldp_unique_viewers_per_property_yy,ldp_unique_viewers_per_property_vs_us,median_listing_price,median_listing_price_mm,median_listing_price_yy,median_listing_price_vs_us,quality_flag,city_name,state
0,2023-09,14450,998.0,1.0,-5.0,0.0,99.978698,99.974438,99.982958,7.0,...,0.100652,-0.123400,4.949911,369000.0,-0.065586,0.126976,0.859139,0.0,fairport,ny
1,2023-09,4106,3627.0,2.0,-2.0,NaN,99.923313,99.906271,99.940354,9.0,...,-0.063090,-0.011696,4.677433,580000.0,-0.004292,0.341040,1.350407,0.0,south portland,me
2,2023-09,14624,1837.0,3.0,-4.0,1.0,99.919052,99.965917,99.872188,8.0,...,0.022460,-0.013447,4.311374,214900.0,0.075038,0.132991,0.500349,0.0,rochester,ny
3,2023-09,6111,3095.0,4.0,-1064.0,-15.0,99.897751,99.838105,99.957396,10.0,...,0.414016,-0.002990,4.794335,294950.0,-0.051608,-0.028651,0.686729,0.0,newington,ct
4,2023-09,1970,884.0,5.0,-7.0,-5.0,99.893490,99.889230,99.897751,9.5,...,0.122447,0.133164,4.435820,521950.0,0.105416,0.021079,1.215250,0.0,salem,ma

In [18]:
# Get the current column order
cols = h_df.columns.tolist()

# Reorder columns to place "state" and then "city_name" after "postal_code"
cols.remove('state')
cols.remove('city_name')
new_order = cols[:2] + ['state', 'city_name'] + cols[2:]

h_df = h_df[new_order]

# convert the state column values to upper case
h_df['state'] = h_df['state'].str.upper()

In [19]:
h_df = h_df.dropna(subset=['state'])

In [20]:
h_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 926158 entries, 0 to 929261
Data columns (total 25 columns):
 #   Column                                 Non-Null Count   Dtype
---  ------                                 --------------   -----
 0   month_date_yyyymm                      926158 non-null  object
 1   postal_code                            926158 non-null  object
 2   state                                  926158 non-null  object
 3   city_name                              926158 non-null  object
 4   nielsen_hh_rank                        926158 non-null  float64
 5   hotness_rank                           926158 non-null  float64
 6   hotness_rank_mm                        876941 non-null  float64
 7   hotness_rank_yy                        688283 non-null  float64
 8   hotness_score                          926158 non-null  float64
 9   supply_score                           926158 non-null  float64
 10  demand_score                           926158 non-null  float64
 11  median_days_on_market                  926157 non-null  float64
 12  median_days_on_market_mm               926153 non-null  float64
 13  median_dom_mm_day                      926153 non-null  float64
 14  median_days_on_market_yy               926074 non-null  float64
 15  median_dom_yy_day                      926074 non-null  float64
 16  median_dom_vs_us                       926157 non-null  float64
 17  ldp_unique_viewers_per_property_mm     910157 non-null  float64
 18  ldp_unique_viewers_per_property_yy     743856 non-null  float64
 19  ldp_unique_viewers_per_property_vs_us  926158 non-null  float64
 20  median_listing_price                   926158 non-null  float64
 21  median_listing_price_mm                926155 non-null  float64
 22  median_listing_price_yy                926081 non-null  float64
 23  median_listing_price_vs_us             926158 non-null  float64
 24  quality_flag                           926158 non-null  float64
dtypes: float64(21), object(4)
memory usage: 183.7+ MB

In [21]:
# read the hotness metrics csv
zips_df = pd.read_csv("../CSV Files/uszips.csv")
zips_df.head()

,zip,lat,lng,city,state_id,state_name,zcta,parent_zcta,population,density,county_fips,county_name,county_weights,county_names_all,county_fips_all,imprecise,military,timezone
0,601,18.18027,-66.75266,Adjuntas,PR,Puerto Rico,True,NaN,17126.0,102.6,72001,Adjuntas,"{""72001"": 98.73, ""72141"": 1.27}",Adjuntas|Utuado,72001|72141,False,False,America/Puerto_Rico
1,602,18.36075,-67.17541,Aguada,PR,Puerto Rico,True,NaN,37895.0,482.5,72003,Aguada,"{""72003"": 100}",Aguada,72003,False,False,America/Puerto_Rico
2,603,18.45744,-67.12225,Aguadilla,PR,Puerto Rico,True,NaN,49136.0,552.4,72005,Aguadilla,"{""72005"": 99.76, ""72099"": 0.24}",Aguadilla|Moca,72005|72099,False,False,America/Puerto_Rico
3,606,18.16585,-66.93716,Maricao,PR,Puerto Rico,True,NaN,5751.0,50.1,72093,Maricao,"{""72093"": 82.26, ""72153"": 11.68, ""72121"": 6.06}",Maricao|Yauco|Sabana Grande,72093|72153|72121,False,False,America/Puerto_Rico
4,610,18.29110,-67.12243,Anasco,PR,Puerto Rico,True,NaN,26153.0,272.1,72011,AÃ±asco,"{""72011"": 96.71, ""72099"": 2.81, ""72083"": 0.37,...",AÃ±asco|Moca|Las MarÃ­as|Aguada,72011|72099|72083|72003,False,False,America/Puerto_Rico

In [22]:
zips_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33788 entries, 0 to 33787
Data columns (total 18 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   zip               33788 non-null  int64
 1   lat               33788 non-null  float64
 2   lng               33788 non-null  float64
 3   city              33788 non-null  object
 4   state_id          33788 non-null  object
 5   state_name        33788 non-null  object
 6   zcta              33788 non-null  bool
 7   parent_zcta       0 non-null      float64
 8   population        33771 non-null  float64
 9   density           33771 non-null  float64
 10  county_fips       33788 non-null  int64
 11  county_name       33788 non-null  object
 12  county_weights    33788 non-null  object
 13  county_names_all  33788 non-null  object
 14  county_fips_all   33788 non-null  object
 15  imprecise         33788 non-null  bool
 16  military          33788 non-null  bool
 17  timezone          33788 non-null  object
dtypes: bool(3), float64(5), int64(2), object(8)
memory usage: 4.0+ MB

In [23]:
# convert the zip data from the dataframes into integers
c_df['postal_code'] = c_df['postal_code'].astype(int)
h_df['postal_code'] = h_df['postal_code'].astype(int)

In [24]:
# update column names to match the merge for zip & county names
zips_df.rename(columns={'county_fips':'postal_code'}, inplace=True)

In [25]:
# map the zip codes to the county names
county_map = zips_df.set_index('postal_code')['county_name'].to_dict()

c_df['county_name'] = c_df['postal_code'].map(county_map)
h_df['county_name'] = h_df['postal_code'].map(county_map)

In [32]:
# replace not a number entries with blanks
c_df['county_name'].fillna('', inplace=True)
h_df['county_name'].fillna('', inplace=True)

In [33]:
c_df.head(40)

,month_date_yyyymm,postal_code,state,city_name,median_listing_price,median_listing_price_mm,median_listing_price_yy,active_listing_count,active_listing_count_mm,active_listing_count_yy,...,average_listing_price_mm,average_listing_price_yy,total_listing_count,total_listing_count_mm,total_listing_count_yy,pending_ratio,pending_ratio_mm,pending_ratio_yy,quality_flag,county_name
0,2023-09,55127,MN,saint paul,635000.0,-0.0483,-0.0344,53.0,0.1158,0.5143,...,-0.0398,0.0555,106.0,0.0872,0.3250,0.9434,-0.1092,-0.3423,0.0,Walworth
1,2023-09,18354,PA,sciota,399999.0,0.0000,0.3560,2.0,-0.3333,-0.5000,...,0.0000,0.1676,3.0,-0.4000,-0.5000,1.0000,-0.1667,0.6250,1.0,
2,2023-09,35593,AL,vina,275000.0,0.1305,0.7416,1.0,0.0000,-0.8000,...,0.1305,0.4634,2.0,0.0000,-0.6667,1.0000,0.0000,0.8000,1.0,
3,2023-09,85295,AZ,gilbert,625000.0,-0.0056,0.0994,72.0,0.0746,-0.5944,...,-0.0196,0.1102,112.0,-0.0968,-0.5634,0.5694,-0.1917,0.1216,0.0,
4,2023-09,94970,CA,stinson beach,7495000.0,0.0000,-0.2004,2.0,0.0000,0.0000,...,0.4181,0.0465,2.0,-0.6000,-0.4286,0.5000,-1.0000,-0.2500,1.0,
5,2023-09,8403,NJ,longport,2699000.0,0.1258,0.2423,11.0,-0.2414,-0.0833,...,0.2173,0.2512,19.0,-0.1739,0.1176,0.8182,0.2665,0.4432,0.0,
6,2023-09,46737,IN,fremont,397450.0,0.4261,0.5629,21.0,0.4483,0.6800,...,0.3039,0.0474,27.0,0.2857,0.4595,0.2857,-0.1970,-0.2343,1.0,
7,2023-09,81526,CO,palisade,525000.0,-0.0967,-0.1946,17.0,0.5455,0.1333,...,0.0515,-0.1575,22.0,0.2571,0.0000,0.3529,-0.2380,-0.1137,1.0,
8,2023-09,30354,GA,atlanta,349900.0,-0.0511,-0.0027,87.0,-0.0057,0.8710,...,-0.0152,0.0597,177.0,-0.0194,1.7874,1.0345,-0.0512,0.7011,0.0,
9,2023-09,64138,MO,kansas city,204950.0,0.0458,-0.0412,31.0,0.1698,-0.0882,...,-0.0373,-0.0254,68.0,0.0625,-0.0872,1.3226,-0.0925,0.0873,0.0,
10,2023-09,42081,KY,smithland,299900.0,-0.2548,-0.4247,3.0,-0.2500,0.2000,...,-0.1385,-0.3847,5.0,-0.1667,0.1111,0.6667,0.1667,-0.1333,1.0,Lycoming
11,2023-09,39837,GA,colquitt,289500.0,-0.1277,0.3954,9.0,0.0000,0.2000,...,-0.0637,0.5188,12.0,0.1429,0.4118,0.3333,0.1667,0.2000,1.0,
12,2023-09,64465,MO,lathrop,200000.0,0.2704,-0.3322,5.0,-0.0909,-0.3750,...,0.0870,-0.4274,9.0,-0.3333,-0.3793,0.6000,-0.7636,-0.3375,1.0,
13,2023-09,25143,WV,nitro,161450.0,0.4483,0.2040,9.0,0.3846,-0.1818,...,0.6991,0.0930,20.0,0.1111,-0.1837,1.2222,-0.5470,-0.0051,0.0,
14,2023-09,16342,PA,polk,277950.0,-0.0298,-0.0732,3.0,-0.4545,0.0000,...,-0.0999,-0.5060,6.0,0.0000,-0.1429,1.0000,0.9091,-0.1667,1.0,
15,2023-09,48309,MI,rochester,499000.0,0.0489,-0.0018,54.0,0.0189,-0.1074,...,0.0184,-0.0393,81.0,-0.1429,0.1020,0.5000,-0.3019,0.2686,0.0,McLennan
16,2023-09,58016,ND,clifford,NaN,NaN,NaN,1.0,NaN,NaN,...,NaN,NaN,1.0,0.0000,NaN,1.0000,NaN,NaN,0.0,
17,2023-09,16146,PA,sharon,66000.0,0.0000,0.3246,31.0,-0.1507,-0.1268,...,-0.3959,0.5168,48.0,-0.2195,-0.0943,0.5806,-0.1180,0.0736,0.0,
18,2023-09,52206,IA,atkins,294450.0,-0.0343,0.2209,10.0,0.5385,1.8571,...,-0.0027,0.1668,13.0,0.0833,0.3684,0.4000,-0.6000,-1.3143,1.0,
19,2023-09,28562,NC,new bern,377950.0,0.0499,0.1057,108.0,0.0286,0.3500,...,0.0163,0.0737,216.0,-0.0730,-0.0670,1.0278,-0.2151,-0.8722,0.0,
20,2023-09,8741,NJ,pine beach,535000.0,-0.1068,0.3401,7.0,1.3333,0.0000,...,-0.2591,0.4002,8.0,-0.0588,-0.3846,0.2857,-1.3810,-0.6429,0.0,
21,2023-09,42455,KY,sebree,331950.0,0.1451,1.4190,2.0,-0.5000,0.3333,...,0.2157,1.4190,5.0,-0.2308,-0.0909,2.0000,1.2500,-0.6667,1.0,
22,2023-09,18076,PA,red hill,205000.0,-0.3835,-0.3569,1.0,1.0000,-0.5000,...,-0.3835,-0.3684,4.0,0.0000,-0.4667,3.0000,-5.0000,0.0000,1.0,
23,2023-09,98329,WA,gig harbor,799950.0,0.1299,0.2799,26.0,0.0612,-0.2239,...,0.2538,0.2873,43.0,-0.0227,-0.0947,0.6923,-0.0832,0.2893,0.0,
24,2023-09,84742,UT,kanarraville,2295000.0,0.0000,1.7003,1.0,0.0000,-0.7143,...,0.0000,1.0912,2.0,1.0000,-0.4286,1.0000,NaN,NaN,1.0,
25,2023-09,67701,KS,colby,249000.0,-0.1384,0.4158,8.0,-0.0588,0.1429,...,-0.1276,0.4602,13.0,-0.1875,-0.0370,0.6250,-0.2574,-0.2321,0.0,
26,2023-09,3765,NH,haverhill,252000.0,-0.1515,0.1016,3.0,1.0000,1.0000,...,-0.0880,0.1511,4.0,1.6667,0.0000,0.3333,NaN,-1.3333,1.0,
28,2023-09,1201,MA,pittsfield,319000.0,-0.0883,0.1272,56.0,0.1200,0.0182,...,-0.0980,0.0558,103.0,-0.0804,-0.1626,0.8214,-0.4186,-0.4422,0.0,
29,2023-09,64790,MO,walker,NaN,NaN,NaN,1.0,0.0000,-0.3333,...,NaN,NaN,1.0,0.0000,-0.6667,1.0000,0.0000,0.3333,0.0,
30,2023-09,72346,AR,heth,365000.0,-0.0392,0.2807,3.0,0.0000,2.0000,...,-0.0134,0.2807,3.0,0.0000,2.0000,0.3333,NaN,NaN,0.0,
31,2023-09,27891,NC,whitakers,339950.0,-0.0231,0.9997,5.0,0.4286,0.0000,...,0.0774,1.2153,7.0,0.7500,0.0769,0.4000,0.1143,0.1000,1.0,
32,2023-09,20784,MD,hyattsville,365000.0,0.1498,-0.0393,23.0,0.4375,-0.3333,...,0.1606,0.0556,47.0,0.1899,-0.2656,1.0435,-0.3940,0.1594,0.0,
33,2023-09,46107,IN,beech grove,210000.0,0.1206,0.0769,19.0,0.3571,0.6522,...,0.1314,0.0523,36.0,0.1429,0.1077,0.8421,-0.4436,-0.9840,0.0,Potter
34,2023-09,27929,NC,currituck,395000.0,0.1254,0.0161,3.0,-0.2500,-0.6250,...,0.0567,0.0148,5.0,-0.1667,-0.5000,1.0000,0.2500,0.6875,1.0,
35,2023-09,98465,WA,tacoma,640000.0,0.0649,0.2431,9.0,0.3846,0.2000,...,-0.0041,0.0147,11.0,0.0000,-0.2143,0.2222,-0.3932,-0.7111,1.0,
36,2023-09,89830,NV,montello,120000.0,0.4545,NaN,1.0,-0.5000,NaN,...,0.4545,NaN,2.0,0.0000,NaN,1.0000,NaN,NaN,0.0,
37,2023-09,20664,MD,newburg,499900.0,-0.0910,-0.0989,15.0,0.0714,0.0714,...,-0.0114,0.1874,21.0,0.0000,-0.1064,0.4000,-0.1000,-0.1357,0.0,
38,2023-09,49089,MI,sherwood,139900.0,-0.2271,-0.6502,3.0,-0.2500,-0.2500,...,-0.2941,-0.7232,6.0,0.0000,0.0000,1.3333,0.7083,0.8333,1.0,
39,2023-09,50833,IA,bedford,142500.0,-0.0701,-0.0500,3.0,0.5000,-0.6667,...,-0.1069,-0.1027,8.0,0.2308,-0.2000,1.6667,-0.5833,1.5556,1.0,
40,2023-09,98236,WA,clinton,776950.0,0.0113,-0.3368,25.0,-0.0385,0.0870,...,-0.0400,-0.1705,35.0,-0.1026,-0.0541,0.4000,-0.0808,-0.2087,1.0,

In [ ]:

# Save the finalized dataframes to new CSV files
c_df.to_csv('Core_Metrics_Zip_History.csv', index=False)
h_df.to_csv('Hotness_Metrics_Zip_History.csv', index=False)