In [1]:
import pandas as pd

In [2]:
c_df = pd.read_csv("../CSV Files/Core_Metrics_Zip_History.csv")
c_df.head()

,month_date_yyyymm,postal_code,state,city_name,median_listing_price,median_listing_price_mm,median_listing_price_yy,active_listing_count,active_listing_count_mm,active_listing_count_yy,...,average_listing_price_mm,average_listing_price_yy,total_listing_count,total_listing_count_mm,total_listing_count_yy,pending_ratio,pending_ratio_mm,pending_ratio_yy,quality_flag,county_name
0,2023-09,55127,MN,Saint Paul,635000.0,-0.0483,-0.0344,53.0,0.1158,0.5143,...,-0.0398,0.0555,106.0,0.0872,0.3250,0.9434,-0.1092,-0.3423,0.0,Ramsey
1,2023-09,18354,PA,Sciota,399999.0,0.0000,0.3560,2.0,-0.3333,-0.5000,...,0.0000,0.1676,3.0,-0.4000,-0.5000,1.0000,-0.1667,0.6250,1.0,Monroe
2,2023-09,35593,AL,Vina,275000.0,0.1305,0.7416,1.0,0.0000,-0.8000,...,0.1305,0.4634,2.0,0.0000,-0.6667,1.0000,0.0000,0.8000,1.0,Franklin
3,2023-09,85295,AZ,Gilbert,625000.0,-0.0056,0.0994,72.0,0.0746,-0.5944,...,-0.0196,0.1102,112.0,-0.0968,-0.5634,0.5694,-0.1917,0.1216,0.0,Maricopa
4,2023-09,94970,CA,Stinson Beach,7495000.0,0.0000,-0.2004,2.0,0.0000,0.0000,...,0.4181,0.0465,2.0,-0.6000,-0.4286,0.5000,-1.0000,-0.2500,1.0,Marin

In [3]:
h_df = pd.read_csv("../CSV Files/Hotness_Metrics_Zip_History.csv")
h_df.head()

,month_date_yyyymm,postal_code,state,city_name,nielsen_hh_rank,hotness_rank,hotness_rank_mm,hotness_rank_yy,hotness_score,supply_score,...,median_dom_vs_us,ldp_unique_viewers_per_property_mm,ldp_unique_viewers_per_property_yy,ldp_unique_viewers_per_property_vs_us,median_listing_price,median_listing_price_mm,median_listing_price_yy,median_listing_price_vs_us,quality_flag,county_name
0,2023-09,14450,NY,Fairport,998.0,1.0,-5.0,0.0,99.978698,99.974438,...,-41.0,0.100652,-0.123400,4.949911,369000.0,-0.065586,0.126976,0.859139,0.0,Monroe
1,2023-09,4106,ME,South Portland,3627.0,2.0,-2.0,NaN,99.923313,99.906271,...,-39.0,-0.063090,-0.011696,4.677433,580000.0,-0.004292,0.341040,1.350407,0.0,Cumberland
2,2023-09,14624,NY,Rochester,1837.0,3.0,-4.0,1.0,99.919052,99.965917,...,-40.0,0.022460,-0.013447,4.311374,214900.0,0.075038,0.132991,0.500349,0.0,Monroe
3,2023-09,6111,CT,Newington,3095.0,4.0,-1064.0,-15.0,99.897751,99.838105,...,-38.0,0.414016,-0.002990,4.794335,294950.0,-0.051608,-0.028651,0.686729,0.0,Hartford
4,2023-09,1970,MA,Salem,884.0,5.0,-7.0,-5.0,99.893490,99.889230,...,-38.5,0.122447,0.133164,4.435820,521950.0,0.105416,0.021079,1.215250,0.0,Essex

In [4]:
c_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2395931 entries, 0 to 2395930
Data columns (total 42 columns):
 #   Column                                   Dtype
---  ------                                   -----
 0   month_date_yyyymm                        object
 1   postal_code                              int64
 2   state                                    object
 3   city_name                                object
 4   median_listing_price                     float64
 5   median_listing_price_mm                  float64
 6   median_listing_price_yy                  float64
 7   active_listing_count                     float64
 8   active_listing_count_mm                  float64
 9   active_listing_count_yy                  float64
 10  median_days_on_market                    float64
 11  median_days_on_market_mm                 float64
 12  median_days_on_market_yy                 float64
 13  new_listing_count                        float64
 14  new_listing_count_mm                     float64
 15  new_listing_count_yy                     float64
 16  price_increased_count                    float64
 17  price_increased_count_mm                 float64
 18  price_increased_count_yy                 float64
 19  price_reduced_count                      float64
 20  price_reduced_count_mm                   float64
 21  price_reduced_count_yy                   float64
 22  pending_listing_count                    float64
 23  pending_listing_count_mm                 float64
 24  pending_listing_count_yy                 float64
 25  median_listing_price_per_square_foot     float64
 26  median_listing_price_per_square_foot_mm  float64
 27  median_listing_price_per_square_foot_yy  float64
 28  median_square_feet                       float64
 29  median_square_feet_mm                    float64
 30  median_square_feet_yy                    float64
 31  average_listing_price                    float64
 32  average_listing_price_mm                 float64
 33  average_listing_price_yy                 float64
 34  total_listing_count                      float64
 35  total_listing_count_mm                   float64
 36  total_listing_count_yy                   float64
 37  pending_ratio                            float64
 38  pending_ratio_mm                         float64
 39  pending_ratio_yy                         float64
 40  quality_flag                             float64
 41  county_name                              object
dtypes: float64(37), int64(1), object(4)
memory usage: 767.7+ MB

In [5]:
h_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 926158 entries, 0 to 926157
Data columns (total 26 columns):
 #   Column                                 Non-Null Count   Dtype
---  ------                                 --------------   -----
 0   month_date_yyyymm                      926158 non-null  object
 1   postal_code                            926158 non-null  int64
 2   state                                  926158 non-null  object
 3   city_name                              926158 non-null  object
 4   nielsen_hh_rank                        926158 non-null  float64
 5   hotness_rank                           926158 non-null  float64
 6   hotness_rank_mm                        876941 non-null  float64
 7   hotness_rank_yy                        688283 non-null  float64
 8   hotness_score                          926158 non-null  float64
 9   supply_score                           926158 non-null  float64
 10  demand_score                           926158 non-null  float64
 11  median_days_on_market                  926157 non-null  float64
 12  median_days_on_market_mm               926153 non-null  float64
 13  median_dom_mm_day                      926153 non-null  float64
 14  median_days_on_market_yy               926074 non-null  float64
 15  median_dom_yy_day                      926074 non-null  float64
 16  median_dom_vs_us                       926157 non-null  float64
 17  ldp_unique_viewers_per_property_mm     910157 non-null  float64
 18  ldp_unique_viewers_per_property_yy     743856 non-null  float64
 19  ldp_unique_viewers_per_property_vs_us  926158 non-null  float64
 20  median_listing_price                   926158 non-null  float64
 21  median_listing_price_mm                926155 non-null  float64
 22  median_listing_price_yy                926081 non-null  float64
 23  median_listing_price_vs_us             926158 non-null  float64
 24  quality_flag                           926158 non-null  float64
 25  county_name                            926081 non-null  object
dtypes: float64(21), int64(1), object(4)
memory usage: 183.7+ MB

In [6]:
# merge the dataframes
combo_df = pd.merge(h_df, c_df, on=['postal_code', 'month_date_yyyymm'])

In [8]:
combo_df

,month_date_yyyymm,postal_code,state_x,city_name_x,nielsen_hh_rank,hotness_rank,hotness_rank_mm,hotness_rank_yy,hotness_score,supply_score,...,average_listing_price_mm,average_listing_price_yy,total_listing_count,total_listing_count_mm,total_listing_count_yy,pending_ratio,pending_ratio_mm,pending_ratio_yy,quality_flag_y,county_name_y
0,2023-09,14450,NY,Fairport,998.0,1.0,-5.0,0.0,99.978698,99.974438,...,-0.1090,0.1193,26.0,0.1556,0.0000,0.1667,0.0691,-0.0476,0.0,Monroe
1,2023-09,4106,ME,South Portland,3627.0,2.0,-2.0,NaN,99.923313,99.906271,...,0.0503,0.0367,27.0,0.2857,0.6875,0.2727,0.1675,0.0327,1.0,Cumberland
2,2023-09,14624,NY,Rochester,1837.0,3.0,-4.0,1.0,99.919052,99.965917,...,0.0970,0.1037,20.0,-0.0476,-0.1837,0.1765,0.0376,0.0602,0.0,Monroe
3,2023-09,6111,CT,Newington,3095.0,4.0,-1064.0,-15.0,99.897751,99.838105,...,-0.0268,-0.0417,65.0,-0.0299,-0.3085,3.2667,-0.0146,0.9274,0.0,Hartford
4,2023-09,1970,MA,Salem,884.0,5.0,-7.0,-5.0,99.893490,99.889230,...,0.0739,0.0137,35.0,0.4583,-0.3069,0.4000,0.0176,0.0667,0.0,Essex
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
926153,2017-08,10006,NY,New York,11956.0,16084.0,NaN,NaN,0.366756,0.491080,...,0.0871,-0.0263,109.0,-0.0726,0.3232,0.7724,0.1913,0.1091,0.0,New York
926154,2017-08,83113,WY,Big Piney,17292.0,16085.0,NaN,NaN,0.351215,0.217567,...,0.0368,-0.0536,47.0,0.0333,0.4531,0.0698,-0.0017,0.0031,0.0,Sublette
926155,2017-08,96024,CA,Douglas City,22139.0,16086.0,NaN,NaN,0.298378,0.180270,...,-0.0147,0.3181,23.0,0.0714,0.1842,0.0465,-0.1114,-0.2035,1.0,Trinity
926156,2017-08,87829,NM,Quemado,26077.0,16087.0,NaN,NaN,0.254864,0.236216,...,0.0566,0.2190,20.0,-0.0476,0.4286,0.0526,0.0026,NaN,0.0,Catron
926157,2017-08,36108,AL,Montgomery,6350.0,16088.0,NaN,NaN,0.087027,0.024865,...,0.2576,-0.1454,71.0,0.0143,0.3524,0.2119,0.0424,0.0828,1.0,Montgomery

In [9]:
combo_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 926158 entries, 0 to 926157
Data columns (total 66 columns):
 #   Column                                   Non-Null Count   Dtype
---  ------                                   --------------   -----
 0   month_date_yyyymm                        926158 non-null  object
 1   postal_code                              926158 non-null  int64
 2   state_x                                  926158 non-null  object
 3   city_name_x                              926158 non-null  object
 4   nielsen_hh_rank                          926158 non-null  float64
 5   hotness_rank                             926158 non-null  float64
 6   hotness_rank_mm                          876941 non-null  float64
 7   hotness_rank_yy                          688283 non-null  float64
 8   hotness_score                            926158 non-null  float64
 9   supply_score                             926158 non-null  float64
 10  demand_score                             926158 non-null  float64
 11  median_days_on_market_x                  926157 non-null  float64
 12  median_days_on_market_mm_x               926153 non-null  float64
 13  median_dom_mm_day                        926153 non-null  float64
 14  median_days_on_market_yy_x               926074 non-null  float64
 15  median_dom_yy_day                        926074 non-null  float64
 16  median_dom_vs_us                         926157 non-null  float64
 17  ldp_unique_viewers_per_property_mm       910157 non-null  float64
 18  ldp_unique_viewers_per_property_yy       743856 non-null  float64
 19  ldp_unique_viewers_per_property_vs_us    926158 non-null  float64
 20  median_listing_price_x                   926158 non-null  float64
 21  median_listing_price_mm_x                926155 non-null  float64
 22  median_listing_price_yy_x                926081 non-null  float64
 23  median_listing_price_vs_us               926158 non-null  float64
 24  quality_flag_x                           926158 non-null  float64
 25  county_name_x                            926081 non-null  object
 26  state_y                                  926158 non-null  object
 27  city_name_y                              926158 non-null  object
 28  median_listing_price_y                   926158 non-null  float64
 29  median_listing_price_mm_y                926155 non-null  float64
 30  median_listing_price_yy_y                926081 non-null  float64
 31  active_listing_count                     926158 non-null  float64
 32  active_listing_count_mm                  926154 non-null  float64
 33  active_listing_count_yy                  926058 non-null  float64
 34  median_days_on_market_y                  926157 non-null  float64
 35  median_days_on_market_mm_y               926153 non-null  float64
 36  median_days_on_market_yy_y               926074 non-null  float64
 37  new_listing_count                        926158 non-null  float64
 38  new_listing_count_mm                     893669 non-null  float64
 39  new_listing_count_yy                     889211 non-null  float64
 40  price_increased_count                    926158 non-null  float64
 41  price_increased_count_mm                 232049 non-null  float64
 42  price_increased_count_yy                 254206 non-null  float64
 43  price_reduced_count                      926158 non-null  float64
 44  price_reduced_count_mm                   832500 non-null  float64
 45  price_reduced_count_yy                   828115 non-null  float64
 46  pending_listing_count                    862095 non-null  float64
 47  pending_listing_count_mm                 843412 non-null  float64
 48  pending_listing_count_yy                 812582 non-null  float64
 49  median_listing_price_per_square_foot     925893 non-null  float64
 50  median_listing_price_per_square_foot_mm  925783 non-null  float64
 51  median_listing_price_per_square_foot_yy  925696 non-null  float64
 52  median_square_feet                       925897 non-null  float64
 53  median_square_feet_mm                    925789 non-null  float64
 54  median_square_feet_yy                    925701 non-null  float64
 55  average_listing_price                    926158 non-null  float64
 56  average_listing_price_mm                 926155 non-null  float64
 57  average_listing_price_yy                 926081 non-null  float64
 58  total_listing_count                      926158 non-null  float64
 59  total_listing_count_mm                   926156 non-null  float64
 60  total_listing_count_yy                   926094 non-null  float64
 61  pending_ratio                            862095 non-null  float64
 62  pending_ratio_mm                         849376 non-null  float64
 63  pending_ratio_yy                         820766 non-null  float64
 64  quality_flag_y                           926158 non-null  float64
 65  county_name_y                            926081 non-null  object
dtypes: float64(58), int64(1), object(7)
memory usage: 473.4+ MB

In [10]:
print(combo_df.columns)

Index(['month_date_yyyymm', 'postal_code', 'state_x', 'city_name_x',
       'nielsen_hh_rank', 'hotness_rank', 'hotness_rank_mm', 'hotness_rank_yy',
       'hotness_score', 'supply_score', 'demand_score',
       'median_days_on_market_x', 'median_days_on_market_mm_x',
       'median_dom_mm_day', 'median_days_on_market_yy_x', 'median_dom_yy_day',
       'median_dom_vs_us', 'ldp_unique_viewers_per_property_mm',
       'ldp_unique_viewers_per_property_yy',
       'ldp_unique_viewers_per_property_vs_us', 'median_listing_price_x',
       'median_listing_price_mm_x', 'median_listing_price_yy_x',
       'median_listing_price_vs_us', 'quality_flag_x', 'county_name_x',
       'state_y', 'city_name_y', 'median_listing_price_y',
       'median_listing_price_mm_y', 'median_listing_price_yy_y',
       'active_listing_count', 'active_listing_count_mm',
       'active_listing_count_yy', 'median_days_on_market_y',
       'median_days_on_market_mm_y', 'median_days_on_market_yy_y',
       'new_listing_count', 'new_listing_count_mm', 'new_listing_count_yy',
       'price_increased_count', 'price_increased_count_mm',
       'price_increased_count_yy', 'price_reduced_count',
       'price_reduced_count_mm', 'price_reduced_count_yy',
       'pending_listing_count', 'pending_listing_count_mm',
       'pending_listing_count_yy', 'median_listing_price_per_square_foot',
       'median_listing_price_per_square_foot_mm',
       'median_listing_price_per_square_foot_yy', 'median_square_feet',
       'median_square_feet_mm', 'median_square_feet_yy',
       'average_listing_price', 'average_listing_price_mm',
       'average_listing_price_yy', 'total_listing_count',
       'total_listing_count_mm', 'total_listing_count_yy', 'pending_ratio',
       'pending_ratio_mm', 'pending_ratio_yy', 'quality_flag_y',
       'county_name_y'],
      dtype='object')

In [11]:
col_to_delete = ['county_name_x',
       'state_y', 'city_name_y', 'median_listing_price_y',
       'median_listing_price_mm_y', 'median_listing_price_yy_y', 'median_days_on_market_y',
       'median_days_on_market_mm_y', 'median_days_on_market_yy_y', 'quality_flag_y',
       'county_name_y']
combo_df = combo_df.drop(columns=col_to_delete)
combo_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 926158 entries, 0 to 926157
Data columns (total 55 columns):
 #   Column                                   Non-Null Count   Dtype
---  ------                                   --------------   -----
 0   month_date_yyyymm                        926158 non-null  object
 1   postal_code                              926158 non-null  int64
 2   state_x                                  926158 non-null  object
 3   city_name_x                              926158 non-null  object
 4   nielsen_hh_rank                          926158 non-null  float64
 5   hotness_rank                             926158 non-null  float64
 6   hotness_rank_mm                          876941 non-null  float64
 7   hotness_rank_yy                          688283 non-null  float64
 8   hotness_score                            926158 non-null  float64
 9   supply_score                             926158 non-null  float64
 10  demand_score                             926158 non-null  float64
 11  median_days_on_market_x                  926157 non-null  float64
 12  median_days_on_market_mm_x               926153 non-null  float64
 13  median_dom_mm_day                        926153 non-null  float64
 14  median_days_on_market_yy_x               926074 non-null  float64
 15  median_dom_yy_day                        926074 non-null  float64
 16  median_dom_vs_us                         926157 non-null  float64
 17  ldp_unique_viewers_per_property_mm       910157 non-null  float64
 18  ldp_unique_viewers_per_property_yy       743856 non-null  float64
 19  ldp_unique_viewers_per_property_vs_us    926158 non-null  float64
 20  median_listing_price_x                   926158 non-null  float64
 21  median_listing_price_mm_x                926155 non-null  float64
 22  median_listing_price_yy_x                926081 non-null  float64
 23  median_listing_price_vs_us               926158 non-null  float64
 24  quality_flag_x                           926158 non-null  float64
 25  active_listing_count                     926158 non-null  float64
 26  active_listing_count_mm                  926154 non-null  float64
 27  active_listing_count_yy                  926058 non-null  float64
 28  new_listing_count                        926158 non-null  float64
 29  new_listing_count_mm                     893669 non-null  float64
 30  new_listing_count_yy                     889211 non-null  float64
 31  price_increased_count                    926158 non-null  float64
 32  price_increased_count_mm                 232049 non-null  float64
 33  price_increased_count_yy                 254206 non-null  float64
 34  price_reduced_count                      926158 non-null  float64
 35  price_reduced_count_mm                   832500 non-null  float64
 36  price_reduced_count_yy                   828115 non-null  float64
 37  pending_listing_count                    862095 non-null  float64
 38  pending_listing_count_mm                 843412 non-null  float64
 39  pending_listing_count_yy                 812582 non-null  float64
 40  median_listing_price_per_square_foot     925893 non-null  float64
 41  median_listing_price_per_square_foot_mm  925783 non-null  float64
 42  median_listing_price_per_square_foot_yy  925696 non-null  float64
 43  median_square_feet                       925897 non-null  float64
 44  median_square_feet_mm                    925789 non-null  float64
 45  median_square_feet_yy                    925701 non-null  float64
 46  average_listing_price                    926158 non-null  float64
 47  average_listing_price_mm                 926155 non-null  float64
 48  average_listing_price_yy                 926081 non-null  float64
 49  total_listing_count                      926158 non-null  float64
 50  total_listing_count_mm                   926156 non-null  float64
 51  total_listing_count_yy                   926094 non-null  float64
 52  pending_ratio                            862095 non-null  float64
 53  pending_ratio_mm                         849376 non-null  float64
 54  pending_ratio_yy                         820766 non-null  float64
dtypes: float64(51), int64(1), object(3)
memory usage: 395.7+ MB

In [12]:
combo_df = combo_df.fillna(0)
combo_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 926158 entries, 0 to 926157
Data columns (total 55 columns):
 #   Column                                   Non-Null Count   Dtype
---  ------                                   --------------   -----
 0   month_date_yyyymm                        926158 non-null  object
 1   postal_code                              926158 non-null  int64
 2   state_x                                  926158 non-null  object
 3   city_name_x                              926158 non-null  object
 4   nielsen_hh_rank                          926158 non-null  float64
 5   hotness_rank                             926158 non-null  float64
 6   hotness_rank_mm                          926158 non-null  float64
 7   hotness_rank_yy                          926158 non-null  float64
 8   hotness_score                            926158 non-null  float64
 9   supply_score                             926158 non-null  float64
 10  demand_score                             926158 non-null  float64
 11  median_days_on_market_x                  926158 non-null  float64
 12  median_days_on_market_mm_x               926158 non-null  float64
 13  median_dom_mm_day                        926158 non-null  float64
 14  median_days_on_market_yy_x               926158 non-null  float64
 15  median_dom_yy_day                        926158 non-null  float64
 16  median_dom_vs_us                         926158 non-null  float64
 17  ldp_unique_viewers_per_property_mm       926158 non-null  float64
 18  ldp_unique_viewers_per_property_yy       926158 non-null  float64
 19  ldp_unique_viewers_per_property_vs_us    926158 non-null  float64
 20  median_listing_price_x                   926158 non-null  float64
 21  median_listing_price_mm_x                926158 non-null  float64
 22  median_listing_price_yy_x                926158 non-null  float64
 23  median_listing_price_vs_us               926158 non-null  float64
 24  quality_flag_x                           926158 non-null  float64
 25  active_listing_count                     926158 non-null  float64
 26  active_listing_count_mm                  926158 non-null  float64
 27  active_listing_count_yy                  926158 non-null  float64
 28  new_listing_count                        926158 non-null  float64
 29  new_listing_count_mm                     926158 non-null  float64
 30  new_listing_count_yy                     926158 non-null  float64
 31  price_increased_count                    926158 non-null  float64
 32  price_increased_count_mm                 926158 non-null  float64
 33  price_increased_count_yy                 926158 non-null  float64
 34  price_reduced_count                      926158 non-null  float64
 35  price_reduced_count_mm                   926158 non-null  float64
 36  price_reduced_count_yy                   926158 non-null  float64
 37  pending_listing_count                    926158 non-null  float64
 38  pending_listing_count_mm                 926158 non-null  float64
 39  pending_listing_count_yy                 926158 non-null  float64
 40  median_listing_price_per_square_foot     926158 non-null  float64
 41  median_listing_price_per_square_foot_mm  926158 non-null  float64
 42  median_listing_price_per_square_foot_yy  926158 non-null  float64
 43  median_square_feet                       926158 non-null  float64
 44  median_square_feet_mm                    926158 non-null  float64
 45  median_square_feet_yy                    926158 non-null  float64
 46  average_listing_price                    926158 non-null  float64
 47  average_listing_price_mm                 926158 non-null  float64
 48  average_listing_price_yy                 926158 non-null  float64
 49  total_listing_count                      926158 non-null  float64
 50  total_listing_count_mm                   926158 non-null  float64
 51  total_listing_count_yy                   926158 non-null  float64
 52  pending_ratio                            926158 non-null  float64
 53  pending_ratio_mm                         926158 non-null  float64
 54  pending_ratio_yy                         926158 non-null  float64
dtypes: float64(51), int64(1), object(3)
memory usage: 395.7+ MB

In [13]:
print(combo_df.columns)

Index(['month_date_yyyymm', 'postal_code', 'state_x', 'city_name_x',
       'nielsen_hh_rank', 'hotness_rank', 'hotness_rank_mm', 'hotness_rank_yy',
       'hotness_score', 'supply_score', 'demand_score',
       'median_days_on_market_x', 'median_days_on_market_mm_x',
       'median_dom_mm_day', 'median_days_on_market_yy_x', 'median_dom_yy_day',
       'median_dom_vs_us', 'ldp_unique_viewers_per_property_mm',
       'ldp_unique_viewers_per_property_yy',
       'ldp_unique_viewers_per_property_vs_us', 'median_listing_price_x',
       'median_listing_price_mm_x', 'median_listing_price_yy_x',
       'median_listing_price_vs_us', 'quality_flag_x', 'active_listing_count',
       'active_listing_count_mm', 'active_listing_count_yy',
       'new_listing_count', 'new_listing_count_mm', 'new_listing_count_yy',
       'price_increased_count', 'price_increased_count_mm',
       'price_increased_count_yy', 'price_reduced_count',
       'price_reduced_count_mm', 'price_reduced_count_yy',
       'pending_listing_count', 'pending_listing_count_mm',
       'pending_listing_count_yy', 'median_listing_price_per_square_foot',
       'median_listing_price_per_square_foot_mm',
       'median_listing_price_per_square_foot_yy', 'median_square_feet',
       'median_square_feet_mm', 'median_square_feet_yy',
       'average_listing_price', 'average_listing_price_mm',
       'average_listing_price_yy', 'total_listing_count',
       'total_listing_count_mm', 'total_listing_count_yy', 'pending_ratio',
       'pending_ratio_mm', 'pending_ratio_yy'],
      dtype='object')